<div class="top-navbar">
    <div class="logo">
        <img src="/images/logo.png" alt="PetzzShop">
    </div>
    <div class="search-container">
        <input type="text" placeholder="&#xf002 Ne Aramıştınız?" name="search">
    </div>

    <div class="user-info">
        <a href="/contact">İletişim <i class="fa-solid fa-angle-down"></i></a>
        <a href="/login">Üye Girişi</a>
        <a href="/cart"><i class="fa-solid fa-cart-shopping"></i> Sepetim</a>
    </div>
</div>
