<section class="categories">
    <h2>Dostlarınıza Göre Alışveriş</h2>
    <a href="/categories/cat.html" class="category">
        <img src="/images/categories/cat-image.jpg" alt="Kedi">
        <p>Kedi</p>
    </a>
    <a href="/categories/dog.html" class="category">
        <img src="/images/categories/dog-image.jpg" alt="Köpek">
        <p>Köpek</p>
    </a>
    <a href="/categories/bird.html" class="category">
        <img src="/images/categories/bird-image.jpg" alt="Kuş">
        <p>Kuş</p>
    </a>
    <a href="/categories/rodent.html" class="category">
        <img src="/images/categories/rodent-image.jpg" alt="Kemirgen">
        <p>Kemirgen</p>
    </a>
    <a href="/categories/reptile.html" class="category">
        <img src="/images/categories/reptile-image.jpg" alt="Sürüngen">
        <p>Sürüngen</p>
    </a>
    <a href="/categories/fish.html" class="category">
        <img src="/images/categories/fish-image.jpg" alt="Balık">
        <p>Balık</p>
    </a>
</section>
