<section class="info-bar">
    <div class="info-item">
        <i class="fa-solid fa-truck fa-2x info-icon"></i>
        <div class="info-text">
            <p class="info-title">Ücretsiz Kargo</p>
            <p class="info-description">350 TL üzeri siparişlerinizde</p>
            <p class="info-description">ücretsiz kargo imkanı</p>
        </div>
    </div>
    <div class="info-item">
        <i class="fa-solid fa-truck-fast fa-2x info-icon"></i>
        <div class="info-text">
            <p class="info-title">Aynı Gün Kargo!</p>
            <p class="info-description">17.00’ye kadar</p>
            <p class="info-description">verilen siparişlerde geçerli.</p>
        </div>
    </div>
    <div class="info-item">
        <i class="fa-solid fa-mobile-screen-button fa-2x info-icon"></i>
        <div class="info-text">
            <p class="info-title">Mobil Uygulamamızı İndirin</p>
            <div class="info-app-links">
                <a href="#"><img src="/images/info-bar/app_store.jpeg" alt="App Store"></a>
                <a href="#"><img src="/images/info-bar/google_play.png" alt="Play Store"></a>
            </div>
        </div>
    </div>
    <div class="info-item">
        <i class="fa-solid fa-truck-ramp-box fa-2x info-icon"></i>
        <div class="info-text">
            <p class="info-title">Kargom Nerede?</p>
            <p class="info-description">Kargonuzla ilgili</p>
            <p class="info-description">tüm bilgileri takip edin.</p>
        </div>
    </div>
</section>
