<div class="user-counter-info-bar">
    <div class="user-counter-info-item counter">
        <p>Aktif kullanıcı sayısı: </p>
        <span id="online-users-count">0</span>
    </div>
    <div class="user-counter-info-item counter">
        <p>Aktif ziyaretçi sayısı:</p>
        <span id="visitors-count">0</span>
    </div>
</div>
