<title><%=pageTitle%></title>
<link rel="stylesheet" href="/css/navbar/navbar.css">
<link rel="stylesheet" href="/css/navbar/tabs.css">
<link rel="stylesheet" href="/css/home/modal.css">
<link rel="stylesheet" href="/css/home/carousel.css">
<link rel="stylesheet" href="/css/home/info-bar.css">
<link rel="stylesheet" href="/css/home/categories.css">
<link rel="stylesheet" href="/css/home/product-carousel.css">
<link rel="stylesheet" href="/css/home/user-counter.css">
<script src="/js/home/index.js"></script>
<script src="/js/home/modal.js"></script>
<script src="/js/home/product-carousel.js"></script>
<script src="/js/home/user-counter.js"></script>
