<div class="admin-navbar">
    <div class="menu">
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" onclick="loadSection('articles')">Articles</a>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" onclick="loadSection('categories')">Categories</a>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" onclick="loadSection('admins')">Admins</a>
        </div>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropbtn" onclick="loadSection('products')">Products</a>
        </div>
    </div>
</div>
