
<div class="bottom-navbar">
    <div class="menu">
        <div class="dropdown">
            <a href="#" class="dropbtn">Kedi <i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-content">
                <a href="#">Kedi Maması</a>
                <a href="#">Kedi Oyuncakları</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="dropbtn">Köpek <i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-content">
                <a href="#">Köpek Maması</a>
                <a href="#">Köpek Oyuncakları</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="dropbtn">Kuş <i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-content">
                <a href="#">Kuş Yemleri</a>
                <a href="#">Kuş Kafesleri</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="dropbtn">Kemirgen <i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-content">
                <a href="#">Kemirgen Yemi</a>
                <a href="#">Kemirgen Oyuncakları</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="dropbtn">Balık <i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-content">
                <a href="#">Balık Yemi</a>
                <a href="#">Akvaryumlar</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="dropbtn">Blog</a>
        </div>
        <div class="dropdown">
            <a href="#" class="dropbtn">Kampanyalar</a>
        </div>
    </div>
</div>
