<div class="top-navbar">
    <div class="logo">
        <object id="logo" class="svg" data="/images/navbar/logo.svg" type="image/svg+xml" width="300" height="300"></object>
    </div> 
    <div class="search-container">
        <input type="text" placeholder="&#xf002 Ne Aramıştınız?" name="search">
    </div>
    <div class="user-info">
        <a href="/contact" class="dropbtn">İletişim <i class="fa-solid fa-angle-down"></i></a>
        <% if (authInfo && authInfo.email) { %>
            <div class="account-dropdown">
                <a href="#" class="dropbtn">Hesabım <i class="fa-solid fa-angle-down"></i></a>
                <div class="account-dropdown-content">
                    <a href="#">Siparişlerim</a>
                    <a href="#">Hesabım</a>
                    <a href="#">Favorilerim</a>
                    <a href="#">Adres Defterim</a>
                    <a href="#">İade Taleplerim</a>
                    <a href="#">Kargom Nerede</a>
                    <a href="#" id="logoutButton">Çıkış Yap</a>
                </div>
            </div>
        <% } else { %>
            <a id="authModalTrigger" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#authModal" href="#">Üye Girişi</a>
        <% } %>
        <div class="dropdown">
            <a id="cart" href="#" class="dropbtn"><i class="bi bi-cart3"></i> Sepetim <i class="fa-solid fa-angle-down"></i></a>
            <div class="dropdown-content">
                Sepetinizde ürün bulunmamaktadır.
            </div>
        </div>
    </div>
</div>

