<!DOCTYPE html>
<html>
<head>
    <title>Pet Shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"></head>
<body>
    <nav>
        <%- include('../partials/promo-navbar') %>
        <%- include('../partials/top-navbar') %>
        <%- include('../partials/bottom-navbar') %>
    </nav>
</body>
</html>
